.booking {
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        width: 100%;
        object-fit: cover;
    }
    .booking-img {
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 35%;
        .description {
            margin-left: 5px;
        }
        img {
            width: 50%;
            object-fit: cover;
        }
    }
    .booking-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
}