.booking {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    .btn-modal {
        height: 5%;
        font-size: 1.3rem;
        cursor: pointer;
        color: black;
        border: none;
    }
    .booking-img {
        padding: 5px;
        display: flex;
        width: 35%;
        .description {
            margin-left: 5px;
            button {
                border: none;
                cursor: pointer;
                font-size: 1rem;
                text-decoration: none;
                color: blue;
                font-weight: bold;
            }
        }
        img {
            width: 50%;
            object-fit: cover;
        }
    }
    .booking-item {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 30%;
        span {
            height: 50%;
            width: 40%;
            text-align: center;
            background-color: transparent;
        }
        h4 {
            text-align: center;
        }
    }
}