.inputs-container {
    border: 2px solid blue;
    height: 100%;
    width: 100%;
    .input-data {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        p {}
        input {}
        select {
            display: flex;
        }
        .input-container {
            padding: 10px;
        }
    }
}